@font-face {
  font-family: "roboto-heavy";
  src: url("../font/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: url("../font/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-b";
  src: url("../font/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-bi";
  src: url("../font/Ubuntu-BI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-c";
  src: url("../font/Ubuntu-C.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-l";
  src: url("../font/Ubuntu-L.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-li";
  src: url("../font/Ubuntu-LI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-m";
  src: url("../font/Ubuntu-M.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-mi";
  src: url("../font/Ubuntu-MI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-r";
  src: url("../font/Ubuntu-R.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-ri";
  src: url("../font/Ubuntu-RI.ttf") format("truetype");
}
body {
  margin: 0;
}
@media (max-width: 768px) {
  body {
    background-color: #EBEBEB;
  }
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6, p, a, li, th, td, label {
  font-family: "ubuntu-r";
}

.room {
  display: flex;
  flex-direction: column;
}
.room .row {
  display: flex;
}
.room .row .cell {
  cursor: pointer;
}
.room .row .cell.heart {
  height: 50px;
  width: 50px;
  background-color: #e1e1e1;
}
.room .row .cell.column {
  height: 10px;
  width: 10px;
  background-color: #e1e1e1;
}
.room .row .cell.v-wall, .room .row .cell.h-wall {
  background-color: #d2d2d2;
}
.room .row .cell.v-wall {
  height: 50px;
  width: 10px;
}
.room .row .cell.h-wall {
  height: 10px;
  width: 50px;
}
.room .row .cell.colored {
  background-color: black;
}
.room .row .cell.door {
  background-color: red;
}
.room .row .cell:hover {
  background-color: gray;
}

/*# sourceMappingURL=main.css.map */
